.detail-order-page {
    padding: 10px;
}
.return-list-order{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    a{
        font-size: 16px;
        text-decoration: none;
        &:hover{
            color: red;
        }
    }
}
.info-transport {
    display: flex;
    padding: 7px;
    .info-address {
        margin-right: 20px;
        padding-right: 20px;
        border-right: 1px solid #ddd;
    }

}

.info-flower-area {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: grid;
    grid-template-columns: 0.8fr 3fr 1fr;
    grid-column-gap: 10px;
    padding: 15px 10px 10px 10px;

    .name-flower {
        font-size: 20px;
    }

    .price-flower {
        float: right;

        .price {
            float: right;
            font-size: 16px;
        }
    }
}

.info-price {
    margin: 20px 0;
    width: 60%;
    float: right;
    p {
        font-size: 16px;
        padding: 5px 0;
        border-bottom: 1px solid #ddd;
    }

    span {
        float: right;
    }
    .total{
        color: red;
        font-size: 17px;
        font-weight: bold;
    }
}
