<div class="widget-container flex-box">
    <div
        id="dropzone-external"
        class="flex-box"
        [ngClass]="isDropZoneActive ? ['dx-theme-accent-as-border-color', 'dropzone-active'] : ['dx-theme-border-color']"
    >
        <img
            id="dropzone-image"
            [src]="imageSource"
            *ngIf="imageSource"
            width="100"
            height="100"
            alt=""
        />
        <div
            id="dropzone-text"
            class="flex-box"
            *ngIf="textVisible"
        >
        </div>
        <dx-progress-bar
            #uploadProgress
            [min]="0"
            [max]="100"
            width="30%"
            [showStatus]="false"
            [visible]="false"
            [value]="progressValue"
        ></dx-progress-bar>
    </div>
    <dx-file-uploader
        #fileUploader
        dialogTrigger="#dropzone-external"
        dropZone="#dropzone-external"
        [multiple]="false"
        [allowedFileExtensions]="['.jpg', '.jpeg', '.gif', '.png']"
        uploadMode="instantly"
        uploadUrl="https://js.devexpress.com/Demos/NetCore/FileUploader/Upload"
        [visible]="true"
        (onUploaded)="onUploaded($event)"
        (onProgress)="onProgress($event)"
    ></dx-file-uploader>
</div>
