<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="error-template">
				<h1>Oh!</h1>
				<h2>404 Page not found</h2>
				<div class="error-details">
          An error occurred, the requested page could not be found.
				</div>
				<div class="error-actions">
					<a routerLink="/" class="btn btn-primary btn-md">
						Back to Home
					</a>
					<a href="/" class="btn btn-default btn-md" (click)="logout($event)">
						Logout
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
