<div class="account-area">
    <div class="title-account">
        <h3>My Profile</h3>
        <p>Manage profile information for account security</p>
    </div>
    <div class="content-account">
        <div class="left-content-form">
            <dx-form id="form" [colCount]="1" [formData]="user">
                <dxi-item dataField="UserName" [editorOptions]="{ disabled: false }"></dxi-item>
                <dxi-item dataField="Name" [editorOptions]="{ disabled: false }"></dxi-item>
                <dxi-item dataField="Email" [editorOptions]="{ disabled: false }"></dxi-item>
                <dxi-item dataField="Phone" [editorOptions]="{ disabled: false }"></dxi-item>
                <dxi-item dataField="BirthDate"></dxi-item>

            </dx-form>
            <div class="dx-field">
                <div class="dx-field-label">Gender</div>
                <div class="dx-field-value">
                    <dx-radio-group
                        [items]="genders"
                        [value]="genders[0]"
                        layout="horizontal">
                    </dx-radio-group>
                </div>
            </div>
            <dx-button
                class="btn-update"
                stylingMode="contained"
                text="Update"
                type="submit"
                [width]="120"
                [height]="38"
            >
            </dx-button>
        </div>
        <div class="avatar-area">
            <img class="avatar" src="https://i.pinimg.com/originals/e7/a5/21/e7a521f8cbaf2b270cfbab798837e192.jpg" width="90"
                 height="90" alt="img"/>
            <dx-button
                class="btn-choose-img"
                stylingMode="contained"
                text="Choose image"
                type="submit"
                [width]="130"
                [height]="38"
            >
            </dx-button>
        </div>
    </div>
</div>
