
.breadcrumb {
    background-image: url("../../../../assets/images/breadcrumb-bg.jpg");
    text-align: center;
    padding: 5%;
}

.breadcrumb-title {
    font-weight: bold;
    font-size: 2.5rem;
}

ul.breadcrumb-list {
    display: flex;
    margin: 0 auto;
    width: 18%;

    .breadcrumb-item {
        list-style-type: none;

        .link {
            text-decoration: none;
            font-size: 1.4rem;
            font-weight: bold;

            &.home {
                color: black;

                &:hover {
                    transition: 0.7s all;
                    font-size: 1.5rem;
                }
            }

            &.flowers {
                color: red;

                &:hover {
                    transition: 0.7s all;
                    font-size: 1.5rem;
                }
            }
        }
    }
}
