<div class="breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-title">{{titleBreadcrumb}}</h2>
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="index.html" class="link home">Home</a></li>
                    <li class="breadcrumb-item active"><a class="link flowers">{{breadcrumbItem}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
