<div class="flowers">
    <div class="row">
        <div *ngFor="let flower of allFlowers" [ngClass]="colMd3">
            <div class="flower-grid">
                <div class="flower-image">
                    <a [routerLink]="['/client/flowers', flower.id]">
                        <img class="image-item" src="{{flower.image}}" alt="image">
                    </a>
                    <ul class="social">
                        <li><a href="" [routerLink]="['/client/flowers', flower.id]" data-tip="Quick View"><i class="far fa-eye"></i></a></li>
                        <li><a href="" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a>
                        </li>
                        <li><a href="" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="flower-discount-label">20% Off</span>
                </div>
                <div class="flower-content">
                    <h3 class="title"><a href="#">{{flower.name}}</a></h3>
                    <div class="price">{{flower.newPrice| currency: 'VND':true:'1.0'}}
                        <span>{{flower.oldPrice| currency: 'VND':true:'1.0'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    <div id="scrolledtabs">-->
<!--        <dx-tabs-->
<!--            [dataSource]="allFlowers"-->
<!--            [width]="300"-->
<!--            [scrollByContent]="true"-->
<!--            [showNavButtons]="true"-->
<!--        >  -->
<!--        </dx-tabs>-->
<!--    </div>-->
</div>
