@import "mixins";
::ng-deep .banner-area {
    .single-banner {
        width: 100%;

        img {
            width: 100%;
        }

        &:hover .banner-content {
            transition: 0.5s all;
            display: block;
            position: absolute;
            z-index: 999;
            margin-top: -53%;
            opacity: 1;
            visibility: visible;
            transform: rotate(0deg);
        }
    }

    .banner-content {
        z-index: 1;
        text-align: center !important;
        position: absolute;
        padding: 0 30px;
        background: rgba(255, 255, 255, 0.6);
        height: 84%;
        width: 86%;
        margin-left: 14px;
        align-items: center;
        opacity: 0;
        transform: rotateX(-15deg);

        .banner-content-box {
            width: 100%;
            padding: 20px;
            height: 100%;
            opacity: 1;

            .title {
                @include fontStyle;
                font-size: 1.3rem;
                font-weight: bold;
            }

            .text-description {
                @include fontStyle;
            }

            .link {
                @include fontStyle;
                text-decoration: none;
                color: red;
                font-weight: bold;

                &:hover {
                    font-size: 16px;
                }
            }
        }
    }
}


