<div class="banner-area section-pb">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-banner">
                    <img src="assets/images/banner/banner-01.jpg" alt="">
                    <div class="banner-content text-center">
                        <div class="banner-content-box">
                            <h4 class="title">Mother's Day</h4>
                            <p class="text-description">There are many variations of passages of Lorem Ipsum available,
                                but the have suffered lebmid
                                alteration in some ledmid form</p>
                            <a href="#" class="link">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-banner">
                    <img src="assets/images/banner/banner-02.jpg" alt="">
                    <div class="banner-content text-center">
                        <div class="banner-content-box">
                            <h4 class="title">Wedding Surprise</h4>
                            <p class="text-description">There are many variations of passages of Lorem Ipsum available,
                                but the have suffered lebmid
                                alteration in some ledmid form</p>
                            <a href="#" class="link">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-banner">
                    <img src="assets/images/banner/banner-03.jpg" alt="">
                    <div class="banner-content text-center">
                        <div class="banner-content-box">
                            <h4 class="title">Valentine's Day</h4>
                            <p class="text-description">There are many variations of passages of Lorem Ipsum available,
                                but the have suffered lebmid
                                alteration in some ledmid form</p>
                            <a href="#" class="link">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
