
.content-order-page {
    width: 100%;
    margin: 0 auto;
    grid-column-gap: 20px;
}

.tab-content {
    max-width: 100%;
    justify-content: center;
    margin: 0 auto;
}

.order-filter.tab-title {
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    margin-top: 10px !important;
    margin-bottom: 50px !important;

    .nav-link {
        color: black;
        font-size: 18px;
        font-weight: 400;
    }
}

.nav.nav-pills {
    width: 100%;
    justify-content: center;
}

.nav-item:active {
    border-bottom: 2px solid orangered;
}

.nav-link:focus {
    border-bottom: 2px solid orangered;
    color: red;
}

.tab-description{
    .not-order{
        justify-content: center;
        text-align: center;
    }
}

