<div class="order-page">
    <div class="content-order-page">
        <div class="order-filter">
            <div class="order-filter tab-title">
                <ul class="nav nav-pills">
                    <li class="nav-item" *ngFor="let tab of tabTitles">
                        <a class="nav-link" (click)="onToggleTab(tab.value)">{{tab.title}}</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <dx-load-panel *ngIf="loadingVisible" [visible]="loadingVisible" [showPane]="false"
                               (onShown)="onShown()">
                </dx-load-panel>
                <div [ngSwitch]="changeTabContent" class="tab-description">
                    <div *ngSwitchCase="'order'">
                        <app-list-order [statusNumber] = 0></app-list-order>
                    </div>
                    <div *ngSwitchCase="'approval'" class="wait-approval-part">
                        <div *ngFor="let item of listOrder">
                            <div *ngIf="item.status == 1">
                                <app-list-order [statusNumber]="item.status"
                                                [statusContent]="'Awaiting approval'">
                                </app-list-order>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'pickup'" class="wait-pickup-part">
                        <div *ngFor="let item of listOrder">
                            <div *ngIf="item.status == 2">
                                <app-list-order [statusNumber]="item.status" [statusContent]="'Awaiting pickup'">
                                </app-list-order>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'process'" class="process-part">
                        <div *ngFor="let item of listOrder">
                            <div *ngIf="item.status == 3">
                                <app-list-order [statusNumber]="item.status"
                                                [statusContent]="'Processing'">
                                </app-list-order>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'delivered'" class="delivered-part">
                        <div *ngFor="let item of listOrder">
                            <div *ngIf="item.status == 4">
                                <app-list-order [statusNumber]="item.status"
                                                [statusContent]="'Delivered'">
                                </app-list-order>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'cancel'" class="return-part">
                        <div class="not-order">
                            <img src="assets/images/not-order.png" alt="image" class="img"/>
                            <h4>No orders yet</h4>
                        </div>
                    </div>
                    <ng-template #noOrder>
                        <div class="not-order">
                            <img src="assets/images/not-order.png" alt="image" class="img"/>
                            <h4>No orders yet</h4>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
