.shopping-checkbox-title {
    border-bottom: 1px solid #dddddd;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-bottom: 15px;
}

.single-form-row {
    font-size: 15px;
    margin-bottom: 20px !important;
}

label {
    font-size: 15px;
    font-weight: 450;
}
