@mixin fontStyle{
    line-height: 23px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    visibility: visible;
    font-family: "Poppins", sans-serif;
    color: #222;
}
@mixin styleLink{
    color: black;
    text-decoration: none;
}
