<div class="main-content-wrap checkout-page">
    <div class="breadcrumb-area">
        <app-breadcrumb [titleBreadcrumb]="titleBreadcrumb"
                        [breadcrumbItem]="breadcrumbItem">
        </app-breadcrumb>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="login-coupon-area">
                    <dx-load-panel *ngIf="loadingVisible" [visible]="loadingVisible" [showPane]="false"
                                   (onShown)="onShown()">
                    </dx-load-panel>
                    <div class="login-form-area">
                        <h4 class="text-return-customer">Returning customer?
                            <span class="link-login" (click)="onToggleOpenLogin()">Click here to login</span>
                        </h4>
                        <div class="form-login" *ngIf="isOpenLoginForm">
                            <p>If you have shopped with us before, please enter your details in the boxes below. If you
                                are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label>Username or email <span class="required">*</span></label>
                                        <dx-text-box [showClearButton]="true" placeholder="Username or email">
                                        </dx-text-box>
                                    </div>
                                    <div class="col-lg-6">
                                        <label>Password <span class="required">*</span></label>
                                        <dx-text-box [showClearButton]="true" placeholder="Password">
                                        </dx-text-box>
                                    </div>
                                </div>
                                <div class="login-remember">
                                    <dx-button class="btn-login" stylingMode="contained" text="LOGIN" type="submit"
                                               [width]="130"
                                    >
                                        <!--  (onClick)="click('Apply coupon ')"-->
                                    </dx-button>
                                    <label class="remember">
                                        <input type="checkbox" value="1"/><span> Remember</span>
                                    </label>
                                </div>
                                <div class="lost-password">
                                    <a href="#">Lost your password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="coupon-area">
                        <h4 class="text-have-coupon">Have a coupon?
                            <span class="link-enter-code"
                                  (click)="onToggleOpenCoupon()">Click here to enter your code</span>
                        </h4>
                        <div class="coupon-content" *ngIf="isOpenFormCoupon">
                            <div class="coupon-info">
                                <form action="#">
                                    <div class="checkout-coupon">
                                        <dx-text-box [showClearButton]="true" width="200" height="40"
                                                     placeholder="Coupon code">
                                        </dx-text-box>
                                        <dx-button
                                            class="button-apply-coupon"
                                            stylingMode="contained"
                                            text="APPLY COUPON"
                                            type="submit"
                                            [width]="160"
                                        >
                                        </dx-button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout-details-wrapper">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <app-detail-bill></app-detail-bill>
                </div>
                <div class="col-lg-6 col-md-6">
                    <app-info-order></app-info-order>
                </div>
            </div>
        </div>
    </div>
</div>
