<div class="main-content-wrap cart-page">
    <div class="breadcrumb-area">
        <app-breadcrumb [titleBreadcrumb]="titleBreadcrumb"
                        [breadcrumbItem]="breadcrumbItem"></app-breadcrumb>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#" class="cart-table">
                    <div class="cart-table">
                        <dx-data-grid id="gridCartContainer" [dataSource]="cartData" [showBorders]="true">
                            <dxi-column alignment="center" dataField="image" [width]="200" [allowFiltering]="false" [allowSorting]="false"
                                        cellTemplate="cellTemplate">
                                <div *dxTemplate="let image of 'cellTemplate'">
                                    <img [src]="image.value" width="150" height="130"/>
                                </div>
                            </dxi-column>
                            <dxi-column alignment="center" dataField="name" [width]="200" caption="Product"></dxi-column>
                            <dxi-column alignment="center" dataField="price" [width]="180" caption="Unit Price"></dxi-column>
                            <dxi-column alignment="center" [caption]="'Quantity'" [width]="158" dataField="quantity"
                                        cellTemplate="cellQuantity">
                                <div *dxTemplate="let cell of 'cellQuantity'" class="quantity-flower">
                                    <dx-number-box
                                        [value]="cell.data.quantity"
                                        [showSpinButtons]="true"
                                        [width]="80"
                                        [disabled]="false"
                                    ></dx-number-box>
                                </div>
                            </dxi-column>
                            <dxi-column alignment="center" dataField="totalPrice" [width]="180" caption="Total"></dxi-column>
                            <dxi-column alignment="center" [width]="160" cellTemplate="actionsCellTemplate" [caption]="'Remove'">
                                <div *dxTemplate="let cell of 'actionsCellTemplate'">
                                        <i class="far fa-trash-alt delete-icon ml-2 cursor-pointer" id="icon-delete"
                                           title="'Delete'">
                                        </i>
                                </div>
                            </dxi-column>
                        </dx-data-grid>
                    </div>
                    <div class="row bottom-cart">
                        <div class="col-md-8">
                            <div class="updateCart-continueShopping">
                                <dx-button
                                    class="btn-submit"
                                    stylingMode="contained"
                                    text="UPDATE CART"
                                    type="submit"
                                    [width]="140"
                                    [height]="45"
                                    (onClick)="click('Update cart ')">
                                </dx-button>
                                <a href="#" class="link-continue-shopping">CONTINUE SHOPPING</a>
                            </div>
                            <div class="coupon-area">
                                <h3 class="title-coupon">COUPON</h3>
                                <p class="description-coupon">Enter your coupon code if you have one.</p>
                                <div class="coupon">
                                <dx-text-box [width]="140" [height]="38" class="input-name-code" placeholder="Coupon code" type="text">
                                </dx-text-box>
                                <dx-button
                                    class="btn-apply_coupon"
                                    stylingMode="contained"
                                    text="APPLY COUPON"
                                    type="submit"
                                    [width]="150"
                                    [height]="38"
                                    (onClick)="click('Apply coupon ')">
                                </dx-button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 ml-auto">
                            <div class="cart-page-total">
                                <h3 class="title-cart-total">CART TOTALS</h3>
                                <ul class="all-total-price">
                                    <li class="item-subtotal">Subtotal <span>$170.00</span></li>
                                    <li class="item-total"> Total <span>$170.00</span></li>
                                </ul>
                                <a routerLink="/client/checkout" class="link-proceed-checkout">PROCEED TO CHECKOUT </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
