.shop-sidebar-wrap {
    width: 100%;

    .title {
        font-weight: bold;
    }

    .underlined {
        width: 80px;
        border-top: 2px solid #ff5151;
        left: 0;
        margin: 10px 0 30px 0 !important;
    }

    .best-flower-wrapper {
        .list-best-flower {
            display: flex;
            width: 100%;
            padding: 0;

            .flower-image {
                border-bottom: 1px solid #ddd;
                padding: 5px 0;
            }

            img {
                width: 100px;
                height: 80px;
            }

            .content {
                margin: 0 5px;
            }
            .price{
                text-decoration: none;
                color: black;
                span{
                    color: red!important;
                }
            }
        }
    }

    .list-item {
        padding: 0;
        .item {
            list-style-type: none;
            font-weight: 500;

            &:hover a {
                transition: 0.4s all;
                color: red;
            }

            a {
                text-decoration: none;
                font-size: 16px;
                color: black;

                span {
                    float: right;
                    margin-left: 0;
                }
            }
        }
    }

    ::ng-deep .dx-list .dx-list-item {
        border-top: none !important;
    }

    .list-item.hot-tag {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        .item.hot-tag {
            border: 1px solid black;
            padding: 6px 10px;

            &:hover {
                transition: 0.4s all;
                background: #ff5151;
                color: white;
                border: none;

                & a {
                    color: white;
                }
            }
        }
    }

    .filter-price-wrapper {
        margin-bottom: 20px;

        .filter-price-cont {
            margin: 0 !important;

            .dx-fieldset {
                margin: 30px 0 10px 0 !important;

                .dx-field {
                    margin: 0 !important;

                    .dx-field-label {
                        font-size: 17px;
                        font-weight: 500;
                    }
                }
            }
        }

        .btn-fitter {
            border: none;
            background: #ff5151;
            color: white;
            outline: none;
            padding: 5px 10px;

            &:hover {
                transition: 0.4s all;
                background: black;
            }
        }
    }

}

::ng-deep .dx-field-label, .dx-field-value {
    padding: 0 !important;
    width: 50px;
}
